.toast_layer{
    opacity:0;transition:.5s;align-items:center;
    background: rgba(76, 217, 100, 0.1); display:inline-flex;align-items:center;padding:11.5px;
    &.in{opacity:1}
    &.out{opacity:0}
    &:before{display:block;content:'';width:21px;height:21px;background-repeat:no-repeat; background-position: 0 0; background-size:100% auto;flex:0 0 21px;margin-right:10px;}
    &.check{
        &:before{background-image:url("../images/toast_check.png");}
    }
    &.warn{
        background: rgba(255, 149, 0, 0.1);
        &:before{background-image:url("../images/toast_warn.png");}
        .toast_message{color:#E05B3E;}
    }
}
.toast_message{color:#057772;font-size: 14px;display:inline-block;line-height:1;}
.toast_layer:before{background-image:url("../images/toast_check.png");}
.toast_parent_layer{position:fixed;top:98px;left:0;width:100%;display:flex;align-items: center;justify-content: center;}


.combo_item{display:inline-block;position:relative;
    &.active{
        .combo_target{border-color:#009A93;}
    }
}
.combo_target{font-size:14px;box-sizing:border-box;min-width:162px;color:#4C5353;padding:12px 42px 12px 14px;border:1px solid #B0BABA;border-radius:4px;display:block;background:#fff;position:relative;}
.combo_target:after{
    display:block;content:'';width:7px;height:7px;border-bottom:1px solid #000;border-right:1px solid #000;position:absolute;top:50%;right:17px;transform: rotate(45deg);margin-top:-7px;
}
.combo_option_group{
    display:none;position:relative;overflow:hidden;z-index:20;background: #FFFFFF;width:100%;border: 1px solid #C9CFCF;border-radius: 5px;box-sizing: border-box; position:absolute;top:calc(100% + 5px);left:0;
    &.active{display:block;}
}
.combo_option_scroll{overflow:overlay;position:relative;}
.combo_option_list{
    padding:7px;
    > li{
        &:last-of-type{}
    }
}


.combo_option{
    font-family: 'Roboto', 'Pretendard'; 
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #868E96;
    display:block;padding:5px 7px;
    &:hover{background:#F0FCFB;}
    &.disabled{background:#f2f5f5;color:#adb3b3;cursor:default;}
}