.toast_layer{
    opacity:0;transition:.5s;align-items:center;
    background: rgba(76, 217, 100, 0.1); display:inline-flex;align-items:center;padding:11.5px;
    &.in{opacity:1}
    &.out{opacity:0}
    &:before{display:block;content:'';width:21px;height:21px;background-repeat:no-repeat; background-position: 0 0; background-size:100% auto;flex:0 0 21px;margin-right:10px;}
    &.check{
        &:before{background-image:url("../images/toast_check.png");}
    }
    &.warn{
        background: rgba(255, 149, 0, 0.1);
        &:before{background-image:url("../images/toast_warn.png");}
        .toast_message{color:#E05B3E;}
    }
}
.toast_message{color:#057772;font-size: 14px;display:inline-block;line-height:1;}
.toast_layer:before{background-image:url("../images/toast_check.png");}
.toast_parent_layer{position:fixed;top:98px;left:0;width:100%;display:flex;align-items: center;justify-content: center;}


.combo_item{display:inline-block;position:relative;
    &.active{
        .combo_target{border-color:#009A93;}
    }
}
.combo_target{font-size:14px;box-sizing:border-box;min-width:162px;color:#4C5353;padding:11px 42px 11px 14px;border:1px solid #B0BABA;border-radius:5px;display:block;background:#fff;position:relative;}
.combo_target:after{
    display:block;content:'';width:7px;height:7px;border-bottom:1px solid #000;border-right:1px solid #000;position:absolute;top:50%;right:17px;transform: rotate(45deg);margin-top:-7px;
}
.combo_option_group{
    display:none;position:relative;overflow:hidden;z-index:20;background: #FFFFFF;width:100%;border: 1px solid #C9CFCF;border-radius: 5px;box-sizing: border-box; position:absolute;top:calc(100% + 5px);left:0;
    &.active{display:block;}
}
.combo_option_scroll{overflow:overlay;position:relative;}
.combo_option_list{
    padding:7px;
    > li{
        &:last-of-type{}
    }
}


.combo_option{
    font-family: 'Roboto', 'Pretendard'; 
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #868E96;
    display:block;padding:5px 7px;
    &:hover{background:#F0FCFB;}
    &.disabled{background:#f2f5f5;color:#adb3b3;cursor:default;}
}

.guide_para{font-size:13px;color:#4C5353;line-height:1.7;}
.emp_word{font-weight:600;}
.dash_guide_list{
    font-size:13px;color:#4C5353;line-height:1.4;
    > li{
        position:relative;padding-left:12px;margin-bottom:5px;
        &:before{display:block;content:'-';position:absolute;top:0;left:0;}
        &:last-of-type{margin-bottom:0;}
        .dot_guide_list{margin:15px 0 0 15px;}
    }
}
.intro_pos + *{margin-top:25px;}
.dot_guide_list{
    font-size:13px;color:#4C5353;line-height:1.4;
    > li{
        position:relative;padding-left:8px;margin-bottom:5px;
        &:before{display:block;content:'';width:2px;height:2px;background:#4C5353;border-radius:100%;position:absolute;top:8px;left:0;}
        &:last-of-type{margin-bottom:0;}
    }
}

.text_block_item{
    color:#4C5353;
    &.last_pos{margin-top:20px;}
    &:last-of-type{margin-bottom:0;}
}
.text_block_title{font-weight:600;margin-bottom:7px;}
.text_block_content{}

.tip_box_group{margin-top:20px;border-radius:5px;border:1px solid #b7d8d6;padding:15px;}
.tip_box_title_row{margin-bottom:10px;}
.tip_box_title{color: #07857F;font-weight: 600;line-height:1;}
.tip_box_content_row{
    .dot_guide_list{color:#363E3E;font-size:12px;
        > li{
            padding-left:10px;
        }
    }
}

.text_block_item_group{
    color:#363E3E;font-size:13px;
    .text_block_item{
        margin-bottom:25px;
        &:last-of-type{margin-bottom:0;}
    }
    .text_block_title{font-weight:600;margin-bottom:10px;}
    .text_block_content{}
    .dot_guide_list{
        > li{
            padding-left:12px;
            &:before{width:3px;height:3px;}
            &:last-of-type{}
        }
    }
}



// component guide
.source_his_item{margin-bottom:rem(100)}
.source_his_item:last-of-type{margin-bottom:0}
.component_title{font-size:24px;color:#000;font-weight:600;border-bottom:2px solid #000;padding-bottom:20px;margin-bottom:20px}
.component_title_sub{font-size:20px;color:#000;}
.textarea_size{box-sizing:border-box;width:100%;padding:20px;margin-top:20px;overflow:hidden;resize:none;border:1px solid #ddd;}
.render_wrap{margin:10px 0 0 0;}
.component_dep_wrap{}
.component_dep{margin-bottom:40px;}
.component_dep:last-of-type{margin-bottom:0;}
.guide_green_zone{padding:10px;background:#078E8E;}
.component_group{
    .btn_search_ico,
    .btn_reset_ico{display:inline-block;}
    .input_value{max-width:100px;}
    .search_field_wrap{max-width:300px;}
    > *{vertical-align: middle;margin:0;margin-right:10px;}
}
.guide_green_zone{
    > *{vertical-align: middle;margin:0;margin-right:20px;}
}
@media (max-width:1023px){
    .component_title{font-size:16px}
}