.cont_vitem_wrap{padding:30px;}
.cont_vitem{
    margin-bottom:20px;
    &.define_sort{
        padding:20px 22px;background:#fff;border-radius: 5px;display:flex;justify-content: space-between;align-items: center;
    }
    &.define_sum{
        
    }
    &.define_data{
        padding:30px 40px;background:#fff;border-radius: 5px;
    }
    &.define_schedule{
        background:#fff;border-radius: 5px;
    }
    &:last-of-type{margin-bottom:0;}
}
.sumbox_group{display:flex;
    > *{
        margin-right:16px;
        &:last-of-type{margin-right:0;}
    }
}
.sumbox_long{flex:0 0 440px;box-sizing:border-box;padding:20px;background:#009A93 url("../images/bg_main.png") no-repeat 50% 50%/cover;border-radius: 5px;}
.sumbox_short{flex:1;min-width:0;border: 1px solid #C9CFCF;border-radius: 5px;background:#fff;box-sizing: border-box;padding:15px;display:flex;flex-direction: column;justify-content: space-between;}

.sort_main{display:flex;align-items: center;}
.sort_hor_item{
    display:flex;align-items:center;margin-right:28px;
    &:last-of-type{margin-right:0;}
    dt,dd{}
    dt{margin-right:13px;flex:0;display:flex;align-items: center;
        .btn_info_obj{margin-left:5px;}
    }
    dd{flex:1;display:flex;align-items: center;
        > *{margin-right:10px;
            &:last-of-type{margin-right:0;}
        }
    }
    .sort_hor_label{display:inline-block;white-space: nowrap;font-weight: 600;font-size: 14px;line-height:1;}
}
.choice_box_list{
    font-size:0;line-height:0;display:flex;
    > .boxform_label:first-of-type{border-radius: 5px 0 0 5px;}
    > .boxform_label:last-of-type{border-radius: 0 5px 5px 0;}
    &.call_open{position:relative;z-index:3;}
}
.sort_guide_text{font-size:12px;color:#677272;display:block;line-height:1;}
input.boxform_obj{appearance: none;-webkit-appearance: none;-moz-appearance: none;overflow:hidden;width:0;height:0;opacity:0;vertical-align: top;}
input.boxform_obj:checked + .boxform_label{position:relative;z-index:2;color:#fff;font-weight:700;background-color:#009A93;border-color:#009A93;}
.boxform_label{display:inline-block;cursor:pointer;text-align:center;min-width:42px;position:relative;overflow:hidden;margin:-1px;background:#fff;border:1px solid #B0BABA;font-weight: 500;font-size: 14px;color:#677272;line-height:1;padding:12px 15px}

.cont_tabmenu_row{display:flex;justify-content: space-between;align-items: center;margin-bottom:30px;}
.cont_tabmenu_main{}
.cont_tabmenu_sub{}
.cont_tabmenu_list{
    display:flex;align-items:center;
    > li{
        padding-right:30px;
        &:last-of-type{padding-right:0;}
        &.active{
            .cont_tabmenu{font-size:17px;color:#07857F;font-weight:700;}
        }
    }
}
.cont_tabmenu{font-size: 16px;display:inline-block;line-height:1; color:#434C4C;}
.cont_btn_list{
    display:flex;align-items:center;
    > li{
        padding-right:30px;
        &:last-of-type{padding-right:0;}
    }
}
.btn_icobox{display:inline-flex; border-radius: 5px; align-items:center; padding: 7px 10px 7px 12px;border: 1px solid #009A93;
    &:after{display:block;content:'';margin-left:7px;background-repeat:no-repeat;background-size:100% auto;background-position: 0 0;}
    &.ico_excel:after{display:block;content:'';background-image:url("../images/icon_excel.png");width:16px;height:16px;flex:0 0 16px;}
}
.icobox_text{display:inline-block;color: #009A93;line-height:1;font-size:14px;font-weight:500;}
.choice_date_box{background: #F1F3F5;border-radius: 5px;font-size:16px;color:#000;font-weight:400;line-height:1;padding:10px 15px;font-family: 'Roboto','Pretendard';}

.sumbox_title_row{display:flex;justify-content: space-between;align-items: center;}
.sumbox_main_title_fxwrap{display:flex;align-items: center;}
.sbmain_title{font-weight: 600;font-size: 21px;display:inline-block;color:#fff;}
.sbmain_unit{display:inline-block;font-size:10px;color:#F5F7F7;margin-left:6px;}
.sumbox_util_wrap{}
.btn_moreitem{display:inline-block;position:relative;padding-right:20px;
    &:after{display:block;content:'';width:11px;height:11px;background:url("../images/ico_more.png") no-repeat 0 0;margin-top:-.5px;position:absolute;top:50%;right:0;}
    &:after{transform: translateY(-50%);}
}
.moreitem_text{
    display:inline-block;font-size:12px;color:#fff;line-height:1;
}
.sumbox_total_row{display:flex;margin-top:20px;}
.sumbox_total_main{flex:0;}
.sumbox_total_sub{flex:1;margin-left:54px;padding-top:20px;}
.submox_total_number{display:inline-block;white-space: nowrap;font-size:48px;line-height:1;font-weight:700;color:#fff;letter-spacing: -1.2px;}
.sb_total_vitem{
    margin-bottom:15px;
    &:last-of-type{margin-bottom:0;}
}
.sb_total_label_row{color:#fff;}
.sb_total_label_text{font-size: 14px;line-height:1;display:inline-block;}
.sb_total_sum_obj{font-size: 16px;line-height:1;display:inline-flex;font-weight: 500;align-items: center;margin-left:7px;}
.sb_total_sum_number{}
.sb_total_sum_unit{}
.sb_total_grape_row{margin-top:10px;}
.sb_total_grape_wrap{background: #B7D8D6;border-radius: 16px;position:relative;height:8px;}
.sb_total_grape_current{position:absolute;top:0;left:0;height:100%;border-radius:16px;background:#fff;}

.sumbox_title_fxwrap{flex:0;display:flex;align-items: center;}
.sb_title{font-weight: 500;font-size: 16px;display:inline-block;line-height:1;color:#4C5353;white-space: nowrap;margin-right:3px;}
.sb_unit{font-weight: 400;font-size: 12px;display:inline-block;line-height:1;color:#868E96;}
.sumbox_current_row{}
.sumbox_current{font-weight: 700;font-size: 42px;text-align: center;display:block;line-height:1;color:#4C5353;}
.sumbox_chart_row{}
.sumchart_wrap{margin:0 32.5px;}
.sumchart_guide_wrap{margin-top:10px;text-align: center;}
.sumchart_guide{color:#868E96;font-size:12px;display:inline-block;}
.sumchart_guide_up{color:#22A4B6;font-weight: 400;}
.sumchart_guide_down{color:#DE5233;font-weight: 400;}
.sumchart_guide_normal{color:#000;font-weight: 400;}

.sumbox_title_util_wrap{font-size: 12px;color: #868E96;}
.sbtitle_util{

    strong{color:#4C5353;}
}
.btn_info_obj{display:inline-block;width:13px;height:13px;border-radius: 100%;background:url("../images/ico_info.png") no-repeat 50% 50%/100% auto;}
.sumbox_title_global_wrap{
    display:flex;justify-content: space-between; align-items: center;width:100%;
    &.type2{
        justify-content: flex-start;
        .sumbox_title_fxwrap{flex:1;}
        .sumbox_title_util_wrap{flex:0;font-size:0;line-height:0;}
    }
}

.tbcount_row{padding-left:10px;margin-bottom:15px;display:flex;align-items: center;
    > *{margin-right:15px;
        &:last-of-type{margin-right:0;}
    }
    strong{color:#07857F;font-weight:700;}
}
.tbcount_para{font-size:12px;color:#677272;line-height:1; 
    &.type2{color:#4C5353;}
}

.cont_tabcont_row{}
.tabcont{
    position:relative;overflow:hidden;width:0;height:0;opacity:0;
    &.active{width:auto;opacity:1;height:auto;}
}
.tbsort_item_group{}
.tbsort_item{
    position:relative;overflow:hidden;width:0;height:0;opacity:0;
    &.active{width:auto;opacity:1;height:auto;}
}

.data_table_wrap{}
.thead_table_wrap{
    background:#F8F9FA;border-bottom: 1px solid #363E3E;
    &.type2{border-color:#9a9e9e;
        .data_table{table-layout: auto;}
        tr { 
            th{
                .data_th.define_sort{font-size:12px;}
            }
        }
    }
    tr.type2{
        th{background-color:#fff;border-top: 1px solid #363E3E;
            &.bgtype2{background:#F8F9FA;}
            .data_th{font-weight:400;}
        }
    }
}
.tbody_table_wrap{
    position:relative;overflow-y:auto;
    tr{
        td.bgtype2{background:#F8F9FA;}
        td.align_type3{
            
        }
    }
    &.type2{
        tr { 
            td{
                .data_text{font-size:12px;padding:0 15px;}
            }
        }
    }
}
.tfoot_table_wrap{
    border-top:1px solid #363E3E;background:#f8f9fa;
    &.type2{
        .tf_total_text{font-size:12px;padding:0;}
        td{
            &.align_type3{
                .tf_total_text{padding:0 15px;}
            }
        }
    }
    .data_table .has_check{width:16px;}
}
.data_table{
    width:100%; table-layout: fixed; border-collapse: separate;
    thead th{padding:15px 0;}
    tbody {
        td{border-bottom:1px solid #f1f3f5;vertical-align: middle;padding:15px 0;
            &.has_check{
                height:16px;
                // .design_check{display:none;}
            }
        }
        tr:hover td{background-color:#F0FCFB;
            // &.has_check{
            //     .design_check{display:inline-block;}
            // }  
        }
    }
    tfoot td{position:relative;z-index:1;padding:15px 0;}
    .has_check{text-align: center;font-size:0;line-height:0;padding:15px;width:16px;}
    tr.depth_two{display:none;
        &:hover td{background:#fff !important;}
        td{padding:0;}
        &.active{display:table-row;}
    }
}

.design_check{
    display:inline-block;vertical-align:middle;cursor:pointer;box-sizing:content-box;width:14px;height:14px;background:url("../images/ico_checkbox.png") no-repeat 0 0/100% auto;border:1px solid #939d9c;border-radius:2px;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &:checked{background-position:0 100%;border-color:#009a93;}
}

.design_radio{
    display:inline-block;vertical-align:middle;cursor:pointer;box-sizing:content-box;border-radius:100%;width:14px;height:14px;background:url("../images/ico_radio.png") no-repeat 0 0/100% auto;border:1px solid #939d9c;appearance: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;
    &:checked{background-position:0 100%;border-color:#009a93;}
}
.data_th{
    font-weight: 600;display:inline-block;font-size: 14px;line-height:1;
    &.define_sort{
        padding : 0 15px; background:url("../images/filter.png") no-repeat 100% 50%/auto 14px;
    }
}
.tf_total_text{display:inline-block;font-size:14px;color:#4C5353;line-height:1;font-weight:700;word-break: break-all;}

.data_text{
    font-weight: 400;font-size: 14px;display:inline-block;line-height:1;color:#4C5353; word-break: break-all;
    &.number{}
}

.depth_table_wrap{

}

.depth_table{display:table;width:100%;table-layout: fixed;}

.depth_tr{display:table-row;
    &:hover .depth_cell{background-color:#F0FCFB;
        // &.has_check{
        //     .design_check{display:inline-block;}
        // }
    }
    &:last-of-type{
        .depth_cell{border-bottom:0}
    }
}

.depth_cell{
    display:table-cell;vertical-align: middle;border-bottom:1px solid #f1f3f5;padding:15px 0;
    &.has_check{
        font-size:0;line-height:0;height:16px;
        // .design_check{display:none;}
    }
}

.align_type2{text-align: left !important;}
.align_type3{text-align: right !important;}

.fold_item{
    display:inline-flex;align-items:center;position:relative;top:1px;
    &:before{display:block;content:'';width:14px;height:14px;background:url("../images/icon_fold.png") no-repeat 0 0/100% auto;border-radius:100%;flex:0 0 14px;margin-right:5px;}
    &.active:before{background-position:0 100%;}
}
.fold_item_text{display:inline-block;font-size:14px;color:#4C5353;line-height:1;}

.data_table_paging{display:flex;justify-content: flex-end;font-size:12px;color:#677272;margin-top:20px;align-items: center;}
.data_paging_current,
.data_paging_part,
.data_paging_length{display:inline-block;line-height:1;}
.data_paging_current{}
.data_paging_part{}
.data_paging_length{}

.sumbox_fxgroup{
    display:flex;
    > *{
        margin-right:15px;
        &:last-of-type{margin-right:0;}
    }
}
.sumbox_sig{padding: 20px;box-sizing:border-box;flex:0 0 235px;display:flex;flex-direction:column;justify-content:space-between;background: #009A93 url("../images/bg_ctnwrap.png") no-repeat 0 0/100% auto;border-radius: 5px;}
.sumbox_sub{padding: 20px;flex:1;background: #FFFFFF;border-radius: 5px;display:flex;flex-direction:column;justify-content:space-between;}

.sb_cont_total{}
.sb_cont_title_wrap{line-height:1;display:flex;align-items:center;color:#fff;}
.sb_cont_title_main,
.sb_cont_title_unit{display:inline-block;line-height:1;}
.sb_cont_title_main{font-weight: 700;font-size: 14px;}
.sb_cont_title_unit{font-size: 12px;margin-left:5px;}

.sb_cont_big_count{font-weight: 700;font-size: 42px;letter-spacing: -1.5px;margin-top:15px;color:#fff;}

.sb_title_fxwrap{display:flex;align-items: center;justify-content: space-between;}
.sbtitle_fxmain{}
.sbtitle_inwrap{line-height:1;display:flex;align-items:center;}
.sbtitle_main,
.sbtitle_unit{display:inline-block;line-height:1;color:#000;}
.sbtitle_main{font-weight: 700;font-size: 14px;}
.sbtitle_unit{font-size: 10px;margin-left:5px;}
.sbtitle_fxsub{display:flex;justify-content: flex-end;}
.chart_dotguide_list{
    display:flex;flex-wrap:wrap;
    > li{
        margin-right:16px;
        &:last-of-type{margin-right:0;}
    }
}
.chart_dot_item{display:inline-flex;line-height:1;}
.chart_dot_box{display:block;width:10px;height:10px;border-radius:100%;flex:0 0 10px;}
.chart_dot_text{display:inline-block;font-size:11px;color:#363E3E;line-height:1;margin-left:4px;}

.sb_content{margin-top:25px;}

.chart_tooltip_box{position:absolute;background: rgba(23, 24, 24, 0.8);border-radius:5px;padding:10px;}
.chart_tooltip_tb{
    width:100%; color:#fff;
    th, td{padding-bottom:7px;}
    th{width:1px;text-align: left;}
    td{text-align: right;padding-left:15px;}
    tr:last-of-type{
        th,
        td{padding-bottom:0;}
    }
}
.chart_tooltip_label{display:inline-block;font-size:12px;line-height:1;white-space: nowrap;}
.chart_tooltip_value{display:inline-block;font-weight: 700;font-size: 12px;line-height:1;white-space: nowrap;}

.form_flex_list{
    display:flex;flex-wrap:wrap;margin-top:-10px;
    > li{
        margin:10px 30px 0 0;
        &:last-of-type{margin-right:0;}
    }
}

.tbcount_sort_row{
    margin-bottom:15px;display:flex;justify-content:space-between;align-items:center;
    .tbcount_row{margin-bottom:0;}
}
.tbcount_sort_right{padding-right:10px;}

.form_choice_item{
    display:flex;align-items:center;
    .design_radio{flex:0 0 14px;}
}
.form_choice_label{margin-left:5px;display:inline-block;font-size:14px;cursor: pointer;}

input.input_calendar{display:inline-block;line-height:1;border: 1px solid #B0BABA;border-radius: 5px;font-size:14px;color:#000;padding:0 42px 0 12px;background:#fff url("../images/input_calendar1.png") no-repeat 100% 50%;height:38px;width:115px;}


select.form_select{
    border:1px solid #B0BABA;font-size:14px;height: 40px;padding: 0 35px 0 12px;box-sizing:border-box;font-family:'Pretendard';border-radius: 5px;box-sizing: border-box;
    background: #fff url("../images/input_select.png") no-repeat 100% 50%/27px auto;line-height: 36px;-webkit-appearance:none;-moz-appearance:none;appearance:none; cursor: pointer;
    &::-ms-value {background: none; color:#000;}
    &::-ms-expand {display: none;}
    &::-ms-value {
        background: none; 
        color:#000;
    }
    &:disabled{background-color:#f7f7f7;color:#999999;;opacity:1;}
}


.sch_top_wrap{display:flex;align-items: center;justify-content: space-between;}
.sch_top_main{}
.sch_main_range_text{font-weight: 700;font-size: 21px;line-height:1;color:#434C4C;}
.design_dot_group{}
.design_dot{
    &.active{}
}
.sch_top_sub{
    .cont_btn_list{}
}
.sch_middle_wrap{}
.sch_grape_zone{}
.sch_chart_guide_fxwrap{}
.sch_chart_guide_main{
    .onlytext_tab_list{}
}
.onlytext_tab_list{
    > li{
        &.active{
            .onlytext_tab{}
        }
        &:after{}
        &:last-of-type{
            &:after{}
        }
    }
}
.onlytext_tab{}
.sch_chart_guide_sub{
    .chart_dotguide_list{}
}
.chart_slider_wrap{}
.btn_slide_control{
    &.disabled{}
    &.prev{}
    &.next{}
}
.chart_slide_target{}
.sch_calendar_zone{}
.sch_calendar_title_row{}
.sch_calendar_content_row{}
.sch_midtitle{}
.chart_util_list{
    &:after{}
    &:last-of-type{
        &:after{}
    }
    .chart_dot_item{}
}
.chart_dot_item{}
.chart_guide_allow_group{}
.chart_guide_allow{
    &.up{}
    &.down{}
}
.chart_dot_text{}

.sch_calendar_content_row{}
.full_calendar_tb_wrap{}
.full_calendar_tb{
    thead{
        th{
            &:last-of-type{}
        }
    }
    tbody{
        td{
            &:last-of-type{}
        }
        tr:last-of-type{
            td{}
        }
    }
    .sat{
        .fcal_thtext{}
        .fcal_td_date{}
    }
    .sun{
        .fcal_thtext{}
        .fcal_td_date{}
    }
}

.fcal_td_date{
    &.other_date{}
}

.fcal_td_cont{}

.data_sum_list{
    > li{
        &.current{}
        &:last-of-type{
        }
    }
}

.data_sum_hitem{}
.data_dotbox{}
.data_sumtext_group{}
.data_sumtext_cell{
    &:last-of-type{}
}
.data_sumtext{
    &.com{}
    &.price{}
}
.data_updown_item{
    &.type_up{
        .data_updown_ico{}
        .data_updown_label{}
    }
    &.type_down{
        .data_updown_ico{}
        .data_updown_label{}
    }
}
.data_updown_ico{}
.data_updown_label{}
.data_count_current{}