#app{
    &.loading{
        position:relative;overflow:hidden;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -150px;
            top: 0;
            height: 100%;
            width: 150px;
            opacity:.3;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
            animation: load 3s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
            z-index:5;
        }
        &:after{display:block;content:'';width:100%;height:100%;position:fixed;top:0;left:0;z-index:100;}
        .header_wrap{background-color:#fff;}
        *{color:transparent !important;;border-color:transparent !important;}
        p{color:transparent;background:#F1F3F5;border-radius:5px;}
        .header_logo_item,.boxform_label,.sumchart_wrap{
            position:relative;background:#F1F3F5;overflow:hidden;border-radius:5px;
            *{opacity:0;color:transparent;border-color:transparent}
        }
        .sort_hor_label,
        .cont_tabmenu,
        .btn_icobox,
        .tbcount_row,
        .header_menu_text{
            color:transparent;background:#F1F3F5;border-radius:5px;
            &:before{display:none;}
            &:after{display:none;}
        }
        input.design_check{background:#F1F3F5;border-color:#F1F3F5}
        .header_menu_list{
            li.active .header_menu{background-color:transparent !important;}
        }
        .header_util{
             &:after{background:#F1F3F5;border-radius:100%;}
        }
        .sumbox_long{background:#fff;border-color:#fff;
            p,a{color:transparent;background:#F1F3F5;border-radius:5px;}
        }
        .sb_total_label_row{color:transparent;background:#F1F3F5;border-radius:5px;}
        .sb_total_grape_wrap{background:#F1F3F5 !important;}
        .sb_total_grape_current{background:#F1F3F5 !important;}
        .btn_moreitem:before,
        .btn_moreitem:after{display:none;}

        .sumbox_title_row{
            position:relative;
            &:after{display:block;content:'';width:100%;height:100%;background:#F1F3F5;overflow:hidden;border-radius:5px;position:absolute;top:0;left:0;}
        }

        .sumbox_title_fxwrap,.sumbox_title_global_wrap{
            position:relative;width:100%;
            &:after{display:block;content:'';width:100%;height:100%;background:#F1F3F5;overflow:hidden;border-radius:5px;position:absolute;top:0;left:0;}
        }

        .data_table_wrap{
            color:transparent;background:#F1F3F5;border-radius:5px;
            *{opacity:0;}
        }
    }
}


@keyframes load {
    from {
        left: -150px;
    }
    to   {
        left: 100%;
    }
}